.container {
  width: 75%;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: #17212B;
}

.formAddMessage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;
  position: relative;
  background-color: #17212B;
}

.formAddMessage > textarea {
  flex-basis: 45%;
  border: none;
  background-color: inherit;
  resize: none;
  font-size: 22px;
  color: #6C7883;
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: #4082bc #242f3d;
  outline: none;
  padding: 0;
}

.formAddMessage > textarea::-webkit-scrollbar {
   width: 7px;
   background-color: #242f3d;
}

.formAddMessage > textarea::-webkit-scrollbar-thumb {
   background-color: #4082bc;
}


.btnClip {
  flex-basis: 3%;
  background-image: url('../../img/icon - paper-clip.png');
  background-repeat: no-repeat;
  background-size: auto;
  height: 25px;
  border: none;
  background-color: #17212b;
  cursor: url('../../img/icon-clicker.png') , pointer;
  margin-bottom: 8px;
  outline: none;
}

.btnClipDisable {
  cursor: auto;
}

.btnClipClick {
  transform: matrix(0, -1, -1, 0, 0, 0);
}

.btnAddNewMessage {
  flex-basis: 3%;
  background-image: url('../../img/icon- sending.png');
  background-repeat: no-repeat;
  background-size: auto;
  height: 25px;
  border: none;
  background-color: #17212b;
  cursor: url('../../img/icon-clicker.png') , pointer;
  margin-bottom: 6px;
  outline: none;
}

.btnAddNewMessageDisable{
  cursor: auto;
}

@media (max-width: 1152px) {
  .container {
    width: 68%;
  }
}

@media (max-width: 375px) {
  .container {
    width: 100%;
    z-index: 3;
    height: 7.4%;
  }

  .containerHidden {
    z-index: 1;
  }

  .btnClip, .btnAddNewMessage {
    flex-basis: 7%;
  }
}
