@font-face {
  font-family: "Roboto-Medium";
  src: url("../../fonts/Roboto-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}

.container {
  width: 100%;
  height: 1000px;
  background-color: #17212b;
  margin: 0 auto;
  position: relative;
  display: flex;
  font-family: "Roboto-Medium";
  justify-content: space-between;
  line-height: 21px;
}

@media (max-width: 1152px) {
  .container {
    height: 700px;
  }
}

@media (max-width: 375px) {
  .container {
    height: 670px;
  }
}
