.blockBackground {
  width: 100%;
  height: 1000px;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
}

.formAddAudio {
  background-color: #17212b;
  position: absolute;
  z-index: 4;
  top: 25%;
  left: 25%;
  width: 44%;
  height: 23%;
  border-radius: 44px;
}

.formAddAudio > span {
  position: absolute;
  top: 8%;
  right: 40%;
  color: #c20202;
}

.formAddAudio > label > input {
  position: absolute;
  top: 33%;
  left: 26%;
}

.customInput {
  position: absolute;
  z-index: 1;
  width: 80%;
  height: 45px;
  padding-left: 35px;
  padding-top: 12px;
  margin-left: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #17212b;
  border: 1px solid #506375;
  color: #636f7a;
  font-size: 1.2em;
  border-radius: 5px;
  top: 60px;
  right: 45px;
  cursor: url('../../img/icon-clicker.png') , pointer;
}

.customInput:hover {
  border: 3px solid #4082bc;
}

.customInputPlus {
  background-image: url('../../img/plus.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 12%;
  height: 100%;
}

.imgAudio {
  background-image: url('../../img/audio.png');
  width: 5%;
  height: 16%;
  background-repeat: no-repeat;
  position: absolute;
  top: 29%;
  left: 4%;
  background-size: contain;
  cursor: url('../../img/icon-clicker.png') , pointer;
}

/* BUTTONS */

.btnGroup{
  width: 75%;
  position: absolute;
  top: 60%;
  left: 13%;
  height: 32%;
  display: flex;
  justify-content: space-around;
}

.btnGroup button{
  width: 46%;
  height: 60px;
  background-color: #17212b;
  border: 1px solid #506375;
  color: #636f7a;
  border-radius: 30px;
  font-size: 1.1em;
}

.btnGroup button:hover {
  border: 3px solid #4082bc;
  box-sizing: border-box;
  cursor: url('../../img/icon-clicker.png') , pointer;
}


@media (max-width: 375px) {
  .blockBackground {
    height: 670px;
  }

  .formAddAudio {
    left: 9%;
    width: 82%;
    height: 20%;
  }

.formAddAudio > label > input  {
    left: 19%;
    width: 70%;
  }

  .formAddAudio > span {
    right: 32%;
    font-size: 0.8em;
  }

  .customInput {
    width: 70%;
    height: 33px;
    font-size: 0.8em;
    padding-left: 19px;
    padding-top: 6px;
    top: 35px;
  }

  .customInputPlus {
    right: 12px;
    width: 10%;
    height: 87%;
    background-size: contain;
  }

  .imgAudio {
    top: 32%;
    left: 6%;
  }

  .btnGroup button {
    height: 40px;
  }
}
