.container {
  width: 100%;
  height: 1000PX;
  background-color: #17212b;
  margin: 0 auto;
  position: relative;
  display: flex;
}


/* FORM ADD USER*/

.blockBackground {
  width: 100%;
  height: 1000px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #606060;
  opacity: 0.5;
}

.formAddUser {
  background-color: #2d3a47;
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 400px;

}


.dataForm {
  display: flex;
  justify-content: space-around;
}

.dataInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 40%;
}

.dataInputs input {
  width: 100%;
  height: 40px;
  padding-left: 35px;
  margin-left: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #242f3d;
  color: #636f7a;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.dataInputs input:focus {
  border: 3px solid #4082bc;
  box-sizing: border-box;
  cursor: pointer;
}

.dataBtns {
  flex-basis: 43%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dataBtns button{
  width: 46%;
  height: 60px;
  background-color: #242f3d;
  border: none;
  color: #636f7a;
  border-radius: 30px;
  font-size: 1.1em;
}

.dataBtns button:hover {
  border: 3px solid #4082bc;
  box-sizing: border-box;
  cursor: pointer;
}

.dataImage {
  display: flex;
  justify-content: space-around;
}

.dataImage  img:nth-child(1) {
  display: block;
  flex-basis: 45%;
  height: 235px;
  background-color: #242f3d;
  color: #636f7a;
  margin: 20px 0px 35px 40px;
}

.dataImage  img:hover {
  border: 3px solid #4082bc;
  box-sizing: border-box;
}

.imageAdd {
  display: flex;
  flex-direction: column;
  flex-basis: 43%;
  position: relative;
}

.imageAdd img:nth-child(1) {
  width: 37%;
  height: 40px;
  max-height: 135px;
  border-radius: 75px;
  margin-left: 100px;
  text-align: center;
}

.customInput {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 45px;
  padding-left: 35px;
  padding-top: 12px;
  margin-left: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #242f3d;
  color: #636f7a;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  top: 177px;
  right: 5px;
  cursor: pointer;
}

.customInputPlus {
  background-image: url('../img/plus.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 12%;
  height: 100%;
}
