.container {
  width: 74.8%;
  height: 945px;
  display: inline-block;
}

.containerMessages {
  background-image: url('../img/fonDialog.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 92.5%;
}

.containerMessages > ul {
  width: 100%;
  height: 93%;
  max-height: 93%;
  overflow: auto;
  scrollbar-width: thin;
}


/* ITEM MESSAGE */

.containerItemMessage {
max-width: 35%;
background-color: #17212b;
color: #fff;
padding: 25px 45px 30px 47px;
margin: 20px 15px 15px 25px;
border-radius: 82px 15px 15px 0px;
clear: both;
float: left;
position: relative;
}

.dateMessage {
  color: #6c7883;
  position: absolute;
  bottom: 10px;
  right: 14px;
  font-size: 1em;
}

/* NAVIGATION MESSAGES */

.containerNav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}


.btnMenu {
width: 4.5%;
height: 85%;
background-image: url('../img/menu.png');
background-repeat: no-repeat;
background-size: auto;
background-color: initial;
border: none;
background-position: 16px 15px;
margin-right: 27px;
border-radius: 50px;
margin-top: 5px;
}

.btnMenu:hover {
  cursor: url('../img/icon-clicker.png') , pointer;
  background-color: #242f3d;
}

/* MENU NAVIGATION */
.menuAddition {
  position: absolute;
  transition: 0.6s ease;
  width: 12%;
  height: 2%;
  background-color: #17212b;
  color: #ffffff;
  right: 14px;
  top: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0 20px 20px;
  padding-top: 15px;
  z-index: -1;
}

.menuAdditionActive {
  z-index: 1;
  height: 22%;
  top: 53px;
}

.menuAddition button {
  width: 100%;
  padding: 0 0px 12px 15px;
  background-color: inherit;
  border: none;
  color: #fff;
  font-size: 1.1em;
  text-align: left;
  cursor: url('../img/icon-clicker.png') , pointer;
}

.menuAddition button:hover{
  background-color: #2d4154;
}

.linkDeleteUser {
  width: 101%;
  display: inline-block;
  text-decoration: none;
  color: #ffff;
}
