.container {
  width: 74.8%;
  height: 945px;
  display: inline-block;
}

.containerMessages {
  background-image: url('../../img/fonDialog.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 92.5%;
}


@media (max-width: 375px)  {
  .container {
    width: 100%;
    height: 620px;
    position: absolute;
    z-index: 1;
  }

  .containerMobActive {
    z-index: 3;
  }
}
