.containerItemMessage {
max-width: 35%;
color: #fff;
padding: 25px 45px 30px 47px;
margin: 20px 135px 15px 65px;
border-radius: 7px;
clear: both;
position: relative;
word-break: break-all;
cursor: url('../../img/icon-clicker.png') , pointer;
}

.containerItemMessage > audio{
  background-color: blue;
}

.containerItemMessage > a {
  color: #fff;
}

.containerItemMessage > a > img {
      position: absolute;
      top: 23px;
      left: 6%;
}

.containerItemMessage > .imgResponce {
  position: absolute;
  bottom: 13px;
  right: 23px;
}

.messageUser {
  background-color: #17212b;
  float: left;
}

.messageMaster {
  background-color: #4082bc;
  padding-right: 145px;
  float: right;
}

.messageForDeleteUser {
  background-color: #373738;
}

 .messageForDeleteMaster {
  background-color: #3f5a75;
}

.messageUser .dateMessage {
  color: #6c7883;
  position: absolute;
  bottom: 10px;
  right: 14px;
  font-size: 1em;
}

.messageMaster .dateMessage {
  color: #72bcfd;
  position: absolute;
  bottom: 10px;
  right: 55px;
  font-size: 1em;
}

.messageUser span:nth-child(4) {
  border-bottom: 26px solid #17212b;
  border-left: 30px solid transparent;
  position: absolute;
  bottom: 0;
  left: -17px;
}

.messageMaster span:nth-child(4) {
  border-bottom: 26px solid #4082bc;
  border-right: 30px solid transparent;
  position: absolute;
  bottom: 0;
  right: -18px;
}

.messageForDeleteUser span:nth-child(4){
  border-bottom: 26px solid #373738;
}

.messageForDeleteMaster span:nth-child(4){
  border-bottom: 26px solid #3f5a75;
}

/* VALUE MESSAGE */

.imgValue{
  width: 100%;
  height: -3%;
  max-width: 380px;
}

.videoValue {
  width: 100%;
  height: -3%;
  max-width: 380px;
}

/* SHOW IMAGE */

.backgroundImg {
  width: 133.7%;
  position: absolute;
  z-index: 1;
  left: -420px;
  height: 114.3%;
  background-color: #242424;
  opacity: 0.7;
  top: -60px;
}

.imageContainer {
  width: 55%;
  height: 45%;
  position: absolute;
  top: 18%;
  left: 10%;
  z-index: 3;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}

.imgView {
max-width: 100%;
}


@media (max-width: 375px) {
  .containerItemMessage {
    margin: 15px 0;
    padding: 13px 23px 42px 15px;
    max-width: 85%;
  }

  .messageMaster {
    margin: 15px 30px;
    padding-left: 45px;
  }

  .messageMaster .dateMessage {
    right: 11px;
  }

  .backgroundImg {
    z-index: 3;
    width: 212.7%;
    top: -47px;
  }

  .containerItemMessage > a > img {
        position: absolute;
        top: 10px;
        left: 7%;
  }

  .imageContainer {
    width: 90%;
    top: 22%;
    left: 6%;
  }
}
