.containerNav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: #17212b;
}


.btnMenu {
width: 4.5%;
height: 85%;
background-image: url('../../img/menu.png');
background-repeat: no-repeat;
background-size: auto;
background-color: initial;
border: none;
background-position: 16px 15px;
margin-right: 27px;
border-radius: 50px;
margin-top: 5px;
}

.btnMenu:hover {
  cursor: url('../../img/icon-clicker.png') , pointer;
  background-color: #242f3d;
}

/* MENU NAVIGATION */
.containerNav .linkBack {
  display: none;
}

.btnBack {
  background-image: url('../../img/icon - arrowleft.png');
  background-repeat: no-repeat;
}

.menuAddition {
  position: absolute;
  transition: 0.6s ease;
  width: 12%;
  height: 2%;
  background-color: #17212b;
  color: #ffffff;
  right: 14px;
  top: 45px;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0 20px 20px;
  padding-top: 15px;
  z-index: -1;
}

.menuAdditionActive {
  z-index: 1;
  height: 22%;
  top: 53px;
}

.menuAddition button {
  width: 100%;
  padding: 0 0px 12px 15px;
  background-color: inherit;
  border: none;
  color: #fff;
  font-size: 1.1em;
  text-align: left;
  cursor: url('../../img/icon-clicker.png') , pointer;
}

.menuAddition button:hover{
  background-color: #2d4154;
}

.menuAddition .btnDisabled {
  background-color: #2f3e50;
  color: #88898a;
  cursor: auto;
}


.linkDeleteUser {
  width: 101%;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: inherit;
}

/* IDENTIFINIER USER*/
.userContainer > img {
  display: none;
}

.userContainer {
  flex-basis: 24%;
  height: auto;
  margin-left: 20px;
  text-align: left;
  margin-top: 8px;
}

.userContainer span:nth-child(2) {
  color: #fff;
  display: block;
}

.userContainer span:nth-child(3) {
  color: #6c7883;
}

@media (max-width: 1152px) {
  .menuAddition {
    width: 18%;
  }

  .btnMenu {
    background-position: 12px 14px;
    width: 5.5%;
    height: 81%;
  }
}

@media (max-width: 375px) {
  .btnMenu {
    width: 11.5%;
    margin-right: 10px;
    height: 72%;
    background-position: 10px 11px;
  }

  .containerNav .linkBack {
    display: inline;
  }

  .btnBack {
    width: 8%;
    height: 4%;
    position: absolute;
    top: 19px;
    border: none;
    background-color: inherit;
    left: 10px;
    cursor: url('../../img/icon-clicker.png') , pointer;
  }

  .menuAddition {
    width: 50%;
    right: 7px;
  }

  .userContainer > img {
    display: inline;
    position: absolute;
    width: 44px;
    left: 54px;
    top: 8px;
    height: 44px;
    border-radius: 75px;
  }

  .userContainer {
    flex-basis: 50%;
    margin-left: 85px;
    padding-left: 16px;
  }
}
