.listUsers {
width: 100%;
box-sizing: border-box;
padding: 0;
height: 88%;
max-height: 88%;
overflow: auto;
scrollbar-width: thin;
scrollbar-color: #4082bc #242f3d;
}

.afterSearch {
  height: auto;
  max-height: 44%;
}

.countAfterSearch {
  background-color: #242f3d;
  color: #636f7a;
  display: inline-block;
  width: 100%;
  padding: 2% 0 2% 5%;
  font-size: 1.1em;
  box-sizing: border-box;
}

@media (max-width: 375px) {
  .listUsers {
    height: 83%;
    max-height: 83%;
  }

  .afterSearch {
    height: auto;
    max-height: 33.5%;
  }
}
