.navContainer {
  width: 100%;
  height: 60px;
  padding: 20px 0px 0 20px;
  display: flex;
  position: relative;
  justify-content: flex-start;
}

.search {
  width: 50%;
  height: 45px;
  padding-left: 35px;
  margin-left: 20px;
  box-sizing: border-box;
  background-color: #242f3d;
  color: #636f7a;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.btnMainMenu {
  background-image: url('../../img/open-menu.png');
  background-repeat: no-repeat;
  background-color: #17212b;
  border: none;
  width: 10%;
  height: 34px;
  cursor: url('../../img/icon-clicker.png') , pointer;
  margin-top: 6px;
  outline: none;
}

.menuAddition {
  position: absolute;
  transition: 0.5s ease-in-out;
  border: 1px solid #506375;
  width: 57%;
  height: 250px;
  padding-top: 11px;
  background-color: #17212b;
  color: #ffffff;
  left: -255px;
  top: 85px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  z-index: 1;
}

.showMenu {
 left: 10px;
}

.btnShowMenu {
  background-color: #17212b;
  color: #ffff;
  border: none;
  font-size: 1.1em;
  margin-top: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 20%;
  outline: none;
}

.btnShowMenu:hover {
  background-color: #2d4154;
}

@media (max-width: 1152px) {
  .search {
    width: 70%;
    height: 39px;
  }

  .menuAddition {
    width: 60%;
    left: -275px;
  }

  .showMenu {
   left: 10px;
  }
}

@media (max-width:375px) {
  .search {
    width: 68%;
  }
}
