@import url('./UserItem_Adaptiv.css');

.imgUser {
  width: 15.4%;
  border-radius: 63%;
  height: 67%;
  margin: 3% 0 0px 3%;
  max-width: 20%;
  max-height: 68%;
}

.UserContainer{
  position: relative;
  width: 100%;
  height: 92px;
  cursor: url('../../img/icon-clicker.png') , pointer;
  display: flex;
  padding-left: 15px;
  box-sizing: border-box;
}

.UserContainer > .imgResponce {
  position: absolute;
  right: 55px;
  top: 1px;
}

.UserContainerActive {
  background-color: #4082bc;
}

.UserContainer > div {
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  cursor: url('../../img/icon-clicker.png') , pointer;
  display: block;
  box-sizing: border-box;
  padding-left: 12%;
  padding-top: 1.5%;
  position: relative;
  color: #fff;
  text-decoration: none;
}

.UserContainer > div > article {
  color: #67737e;
  font-size: 0.8em;
  position: absolute;
  bottom: 20%;
}

.UserContainer > div > article > span {
  font-size: 1.1em;
  color: #4082bc;
}

.UserContainerActive > div > article {
  color: #ffffff;
}

.UserContainerActive > div > article > span {
  font-size: 1.1em;
  color: #030303;
}

.UserContainer > div span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 3%;
  color: #6c7883;
  font-size: 0.8em;
}

.UserContainer > div span:nth-child(4){
  position: absolute;
  top: 53%;
  right: 4%;
  width: 8%;
  height: 28%;
  text-align: center;
  border-radius: 13px;
  background-color: #4082bc;
  padding-top: 3px;
  box-sizing: border-box;
  font-size: 0.8em;
}

.UserContainerActive > div span:nth-child(4) {
  background-color: #17212b;
  color: #4082bc;
}

.UserContainerActive > div span:nth-child(2) {
  color: #ffff;
}

@media (max-width: 1435px) {
  .imgUser {
    height: 55%;
  }

  .UserContainer > div {
    font-size: 1em;
    height: 90%;
  }

  .UserContainer > div > article {
    font-size: 0.9em;
  }

  .UserContainer > div span:nth-child(4) {
    font-size: 0.75em;
  }

  .UserContainer > div span:nth-child(2) {
    font-size: 0.7em;
  }
}

@media (max-width: 1284px) {
  .UserContainer > div {
    padding-left: 5%;
  }

  .UserContainer > div span:nth-child(4) {
    height: 23%;
    padding-top: 0;
  }
}

@media (max-width: 1200px) {
  .imgUser {
    height: 42%;
  }

  .UserContainer > div {
    font-size: 0.8em;
    height: 65%;
  }

  .UserContainer > div span:nth-child(4) {
    height: 33%;
    width: 9%;
  }
}

@media (max-width: 375px) {
  .imgUser {
    width: 17.4%;
    height: 67%;
  }

  .UserContainer > div {
    height: 100%;
    font-size: 1.2em;
  }

  .UserContainer > div > article {
    font-size: 0.9em;
  }

  .UserContainer > div span:nth-child(4) {
    font-size: 0.8em;
    height: 30%;
    width: 10%;
    padding-top: 2px;
  }

  .UserContainer > div span:nth-child(2) {
    font-size: 0.8em;
  }
}
